@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap%27');

$theme_main_color_1:red;
$theme_main_color_2:darken($theme_main_color_1, 20%);

$theme_secound_color_1:gold;
$theme_secound_color_2:darken($theme_secound_color_1, 20%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

html{
    overflow: hidden;

    body{
        width: 100vw;
        height: 100vh;
        overflow: overlay;

        font-size: 120%;
    
        div.main-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            width: 100%;
            min-height: 100%;

            div.lantern-holder{
                width: 100%;
                height: 0px;
            }
        
            div.navbar{
                z-index: 0;
            
                height: 10vh;
                width: 100%;
                background-color: white;
            
                display: flex;
                flex-direction: row;
                justify-content: left;
            
                .logo{
                    height: 100%;
                    // min-width: 400px;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                }
            
                & > p{
                    background-color: blue;
                }
            
                div.navigation-items{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 100%;
            
                    margin-left: 15px;
                    gap: 15px;
                
                    z-index: -2;
                }
            }
    
            div.body-container{
                min-height: 90vh;
                width: 100%;
                background-image: url(../img/bgr.jpg);
                // Code from https://stackoverflow.com/a/44568832
                // background:
                // linear-gradient(
                //     to bottom, 
                //     rgba(0,0,0,0) 90%,
                //     rgba(0,0,0,1)
                // ),
                // // linear-gradient(
                // //     to top, 
                // //     rgba(0,0,0,0) 98%,
                // //     rgba(255,255,255,1)
                // // ),
                // url('../img/bgr.jpg');
                
                #load-content-container{
                    transition: opacity 0.5s;
                    width: 100%;
                    height: 100%;
    
                    div.txt-container{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 70%;
                        margin: 40px auto 40px;
                        background-color: white;
                        padding: 25px;
                        line-height: 2em;
                        border-radius: 10px;
                    
                        p, h1, h2, h3, h4, h5, h6, ol, ul{
                            padding-bottom: 20px;
                        }
                        ol, ul{
                            padding-inline-start: 40px;
                        }

                        img{
                            max-width: 100%;
                        }
                    }
                }
            }
    
            div.bottom-container{
                width: 100vw;
                height: 40vh;
                background-color: black;
            
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            
                p, a:link, a:visited, a:hover, a:active, h1, h2, h3, h4, h5, h6{
                    color: white;
                }

                p.easter-egg-1{
                    padding-top: 3rem;
                    color: black;
                }
            }
        }


        img.easter-egg-1{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;

            @keyframes fadein_easter_egg_1 {
                from{
                    opacity: 0%;
                }
                to{
                    opacity: 100%;
                }
            }
            animation: 3s ease-in-out fadein_easter_egg_1 forwards;
        }
    }
}

//#region Custom Dropdown Styling
div.dropdown-block{
    // Size
    $size_button_height: 50%;

    // Color
    $color_main_button: $theme_main_color_1;
    $color_main_button_hover: lighten($color_main_button, 20%);
    $color_main_button_text: white;
    $color_main_button_hover_text: black;

    $color_sub_button: $theme_main_color_1;
    $color_sub_button_hover: lighten($color_sub_button, 20%);
    $color_sub_button_text: white;
    $color_sub_button_hover_text: black;

    // Animation
    $animation_lenght: 0.2s;
    $animation_lenght_stayopen: 0.2s;
    $animation_type: ease-in-out;
    $animation_dropdown_open: transform $animation_lenght $animation_type;
    $animation_dropdown_close: transform $animation_lenght $animation_lenght_stayopen $animation_type;
    $animation_border_open: border-radius $animation_lenght $animation_type;
    $animation_border_close: border-radius $animation_lenght $animation_lenght_stayopen $animation_type;

    // Border radius settings
    $border_radius_size: 15px;

    height: $size_button_height;

    &:hover{
        /* ANIMATION BORDER RADIUS ON HOVER */
        div.dropdown-header, div.dropdown-content > div{
            transition: $animation_border_open,
                        $animation_dropdown_open,
                        background-color 0.2s;
            p{
                transition: color 0.2s;
            }
        }

        // This is the first one, so it gets top left/right radius
        div.dropdown-header{
            border-radius: $border_radius_size $border_radius_size 0px 0px;
        }
        div.dropdown-content{
            // This is all the ones in the middle, they get no radius
            div{
                border-radius: 0px;
            }
            // This is the last one, so it gets bottom left/right radius
            :last-child{
                border-radius: 0px 0px $border_radius_size $border_radius_size;
            }
        }

        /* ANIMATION BORDER RADIUS ON HOVER END */
        div.dropdown-header{
            background-color: $color_main_button_hover;
            p{
                color: $color_main_button_hover_text;
            }
        }

        /* ANIMATION ON HOVER */
        div.dropdown-content{
            // transform: translateY(0);
            & > div{
                transform: translateY(100%) !important;
            } 
        }
    }

    /* Style ALL boxes (including header) */
    div.dropdown-header, div.dropdown-content > div{
        display: flex; 
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 15px;

        // Everything gets border radius everywhere when not expanded
        border-radius: $border_radius_size;

        transition: $animation_border_close,
                    $animation_dropdown_close,
                    background-color 0.2s;
        p{
            transition: color 0.2s;
        }

        cursor: pointer;
    }

    div.dropdown-header{
        height: 100%;
        z-index: 1;

        background-color: $color_main_button;

        p{
            color: $color_main_button_text;
        }
    }

    div.dropdown-content{
        z-index: -1;
        height: 100%;
        position: relative;
        transform: translateY(-100%);

        & > div{
            height: 100%;
            position: relative;
            transform: translateY( calc( -100% * calc( var(--order) - 1 ) ) );
            background-color: $color_sub_button;

            p{
                color: $color_sub_button_text;
            }

            &:hover{
                background-color: $color_sub_button_hover;
                p{
                    color: $color_sub_button_hover_text;
                }
            }


        }
        
    }
}
//#endregion Custom Dropdown Styling



/* experimental */ 
.lantern{
    position:relative;
    // top: 0px;
    // left: 0px;
    // bottom: -200px;
    // transition: bottom 1000ms;
    width: 200px;
    height: 200px;
}


@keyframes face_grow{
    from{
        width: 200px;
        height: 200px;
    }
    to{
        width: 450vw;
        height: 450vh;
    }
}
@keyframes open_mouth{
    from{
        height: 10px;
        transform: translateY(0px);
    }
    to{
        height: 100px;
        transform: translateY(-50px);
    }
}
@keyframes open_mouth_eyes{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-50px);
    }
}
@keyframes fade_out_face{
    from{
        opacity: 100;
    }
    to{
        opacity: 0;
        display: none;
    }
}

.loader{
    background-color: rgba(0, 0, 0, 0.507);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        color: white;
    }

    div.face{
        svg{
            animation: face_grow 2s 2s normal forwards;
            #mouth{
                position: relative;
                animation: open_mouth 1s normal forwards;

                // clip-path: inset(10px 20px 30px 40px);
            }

            #left-eye, #right-eye{
                position: relative;
                animation: open_mouth_eyes 1s normal forwards;
            }
        }
        
    }
    animation: fade_out_face 1s 4s normal forwards;
}

