@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap%27');

//#region Code from https://stackoverflow.com/a/49421832/13921835
$size__site_content_width: 1024px;

// /* Media Queries */ Not necessarily correct, edit these at will 
$media_queries : (
    'mobile'    : "only screen and (max-width: 667px)",
    'tablet'    : "only screen and (min-width: 668px) and (max-width: $size__site_content_width)",
    'desktop'   : "only screen and (min-width: ($size__site_content_width + 1))",
    'retina2'   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
    'retina3'   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
    'landscape' : "screen and (orientation:landscape) ",    
    'portrait'  : "screen and (orientation:portrait) "
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}
//#endregion

$navbar_height: 10vh;
$content_height: 100vh - $navbar_height;

$theme_main_color_1: rgb(128, 0, 0);
$theme_main_color_2: darken($theme_main_color_1, 20%);

$theme_secound_color_1: rgb(241, 211, 155);
$theme_secound_color_2: darken($theme_secound_color_1, 20%);

/* Code from https://stackoverflow.com/a/6900392 */
@mixin unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}
img.flipimg{
    transform: scaleX(-1);
}

html{
    overflow: hidden;

    body{
        width: 100vw;
        height: 100vh;
        overflow: overlay;
        font-size: 120%;
        background-color: black;

        @include for_breakpoint(mobile){
            font-size: 75%;
        }

        /* This is a stupid fix. But i dont want to rework the website 😎 */
        height: $content_height;
        margin-top: $navbar_height;
        div.main-container div.navbar{
            position: fixed;
            top: 0px;
        }
    
        div.main-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            min-height: 100%;

            div.navbar{
                z-index: 0;
                height: $navbar_height;
                width: 100%;
                background-color: $theme_secound_color_1;
                display: flex;
                flex-direction: row;
                justify-content: left;
                border-bottom: 0.2em $theme_main_color_1 solid; 
            
                .logo{
                    height: 80px;
                    width: 100px;
                    padding-top: 10px;
                    margin-left: 20px;
                    // min-width: 400px;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    @include for_breakpoint(mobile){
                        height: 50px;
                        width: unset;
                        padding-top: 20px;
                        margin: 0px 11px 0px 11px ;
                    }
                }

                .bamboo{
                    width: 100px;
                    @include for_breakpoint(mobile){
                        display: none;
                    }
                }
            
                div.navigation-items{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 100%;
            
                    margin-left: 30px;
                    gap: 40px;
                
                    z-index: -2;

                    @include for_breakpoint(mobile){
                        gap: 1em;
                        margin-left: 2px;
                        margin-right: 11px;
                    }
                }
            }
    
            div.body-container{
                min-height: $content_height;
                width: 100%;
                // background-image: url(../img/bgr.jpg);
                
               
                div.bg-img{
                    background-image: url(../img/background_1980x1080.jpg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    position: absolute;
                    top: $navbar_height;
                    height: $content_height;
                    width: 100%;
                    z-index: -1;

                    filter: blur(5px);
                }


                // // Code from https://stackoverflow.com/a/44568832
                // background:
                // linear-gradient(
                //     to bottom, 
                //     rgba(0,0,0,0) 90%,
                //     rgba(0,0,0,1)
                // ),
                // // linear-gradient(
                // //     to top, 
                // //     rgba(0,0,0,0) 98%,
                // //     rgba(255,255,255,1)
                // // ),
                // url(../img/background_1980x1080.jpg);
                
                #loader-here{
                    transition: opacity 0.5s;
                    width: 100%;
                    height: 100%;
                    

                    &.document-\.\/content\/isak\/places_to_visit\.html{
                        div.txt-container ol li div{
                            grid-template-columns: 55% 1% auto; /* text|padding|image */
                        }
                    }
                    &.document-\.\/content\/sanna\/religion\.html{
                        div.txt-container{
                            ul li div{
                                grid-template-columns: 70% 5% auto; /* text|padding|image */
                            }
                            img[alt="islam"]{
                                padding: 10px;
                            }
                        }
                    }
                    &.document-\.\/content\/aleksandar\/festivals\.html{
                        div.txt-container img{
                            width: 50% !important;
                            margin: auto;
                            padding: 2ch;
                        }
                    }

                    div.txt-container{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 70%;
                        margin: 40px auto 40px;
                        background-color: transparentize($theme_secound_color_1, 0.3);
                        padding: 25px;
                        line-height: 2em;
                        border-radius: 10px;
                        border: 0.2em $theme_main_color_1 solid; 
                        

                        @include for_breakpoint(mobile){
                            width: 95% !important;
                            margin-top: 1em !important;
                        }
                        
                        span.arrow{
                            font-size: 170%;
                        }
                        span.special-link{
                            cursor: pointer;
                            text-decoration: underline;
                            &:hover{
                                color: blue;
                            }
                        }
                    
                        a, a:link, a:visited, a:hover, a:active{
                            color: inherit;
                        }
                        .ancher{
                            padding-left: 1ch;
                            text-decoration: none;
                        }
                        p, h1, h2, h3, h4, h5, h6, ol, ul{
                            padding-bottom: 20px;
                        }
                        ol, ul{
                            padding-inline-start: 40px;

                            li div{
                                display: grid;
                                grid-template-rows: min-content;
                            }
                        }
                        img:not(.inline-icon), iframe{
                            width: 100%;
                            max-width: 100%;
                            border: 0.2em $theme_main_color_1 solid;
                            border-radius: 10px;

                        }
                    }
                }
            }
    
            div.bottom-container{
                width: 100vw;
                min-height: 40vh;
                background-color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px;
                border-top: 0.2em $theme_main_color_1 solid; 
                @include for_breakpoint(mobile){
                    display: none;
                }

                div.credits{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 80%;

                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        h2{
                            font-size: 30px;
                            @include for_breakpoint(mobile){
                                font-size: 90% !important;
                            }
                            color: $theme_main_color_1;
                        }

                        & > *{
                            margin-bottom: 25px;
                            font-size: 80%;
                            @include for_breakpoint(mobile){
                                font-size: 50% !important;
                            }
                            
                        }
                    }

                    div.credits-writers{
                        p span{
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                    
                }
            
                p, a:link, a:visited, a:hover, a:active, h1, h2, h3, h4, h5, h6{
                    color: white;
                }

                p.easter-egg-1{
                    // padding-top: 3rem;
                    color: black;
                }
            }
        }

        img.easter-egg-1{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;

            @keyframes fadein_easter_egg_1 {
                from{
                    opacity: 0%;
                }
                to{
                    opacity: 100%;
                }
            }
            animation: 3s ease-in-out fadein_easter_egg_1 forwards;
        }
    }
}

img.inline-icon{
    width: 1.5em !important;
    transform: translateY(0.4em) !important;
}

//#region ScrollBar

// Code from https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
/* width */
::-webkit-scrollbar{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $theme_main_color_1; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($theme_main_color_1, 5%); 
}

//#endregion ScrollBar
//#region Custom Dropdown Styling
div.dropdown-block{
    // Size
    $size_button_height: 50%;

    // Color
    $color_main_button: $theme_main_color_1;
    $color_main_button_hover: lighten($color_main_button, 20%);
    $color_main_button_text: white;
    $color_main_button_hover_text: black;

    $color_sub_button: $theme_main_color_1;
    $color_sub_button_hover: lighten($color_sub_button, 20%);
    $color_sub_button_text: white;
    $color_sub_button_hover_text: black;

    // Animation
    $animation_lenght: 0.2s;
    $animation_lenght_stayopen: 0.2s;
    $animation_type: ease-in-out;
    $animation_dropdown_open: transform $animation_lenght $animation_type;
    $animation_dropdown_close: transform $animation_lenght $animation_lenght_stayopen $animation_type;
    $animation_border_open: border-radius $animation_lenght $animation_type;
    $animation_border_close: border-radius $animation_lenght $animation_lenght_stayopen $animation_type;

    // Border radius settings
    $border_radius_size: 15px;

    height: $size_button_height;

    &:hover{
        /* ANIMATION BORDER RADIUS ON HOVER */
        div.dropdown-header, div.dropdown-content > div{
            transition: $animation_border_open,
                        $animation_dropdown_open,
                        background-color 0.2s;
            p{
                transition: color 0.2s;
            }
        }

        // This is the first one, so it gets top left/right radius
        div.dropdown-header{
            border-radius: $border_radius_size $border_radius_size 0px 0px;
        }
        div.dropdown-content{
            // This is all the ones in the middle, they get no radius
            div{
                border-radius: 0px;
            }
            // This is the last one, so it gets bottom left/right radius
            :last-child{
                border-radius: 0px 0px $border_radius_size $border_radius_size;
            }
        }

        /* ANIMATION BORDER RADIUS ON HOVER END */
        div.dropdown-header{
            background-color: $color_main_button_hover;
            p{
                color: $color_main_button_hover_text;
            }
        }

        /* ANIMATION ON HOVER */
        div.dropdown-content{
            // transform: translateY(0);
            & > div{
                transform: translateY(100%) !important;
            } 
        }
    }

    /* Style ALL boxes (including header) */
    div.dropdown-header, div.dropdown-content > div{
        display: flex; 
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 15px;
        cursor: pointer;

        // Everything gets border radius everywhere when not expanded
        border-radius: $border_radius_size;

        transition: $animation_border_close,
                    $animation_dropdown_close,
                    background-color 0.2s;
        p{
            @include unselectable;
            transition: color 0.2s;
            
            transition: transform 0.1s !important;
        }
    }

    div.dropdown-header{
        height: 100%;
        z-index: 1;

        background-color: $color_main_button;

        p{
            color: $color_main_button_text;
        }
    }

    div.dropdown-content{
        z-index: -1;
        height: 100%;
        position: relative;
        transform: translateY(-100%);

        & > div{
            height: 100%;
            position: relative;
            transform: translateY( calc( -100% * calc( var(--order) - 1 ) ) );
            background-color: $color_sub_button;


            &:active{
                p{
                    transform: scale(0.9,0.9) !important;
                }
                
            }

            p{
                color: $color_sub_button_text;
            }

            &:hover{
                background-color: $color_sub_button_hover;
                p{
                    color: $color_sub_button_hover_text;
                }
                &:active{
                    background-color: lighten($color_sub_button_hover, 10%);
                }
            }


        }
        
    }
}
//#endregion Custom Dropdown Styling
