@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap%27");
/* Code from https://stackoverflow.com/a/6900392 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html {
  overflow: hidden;
}

html body {
  width: 100vw;
  height: 100vh;
  overflow: overlay;
  font-size: 120%;
}

html body div.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
}

html body div.main-container div.lantern-holder {
  width: 100%;
  height: 0px;
}

html body div.main-container div.navbar {
  z-index: 0;
  height: 10vh;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

html body div.main-container div.navbar .logo {
  height: 100%;
}

html body div.main-container div.navbar > p {
  background-color: blue;
}

html body div.main-container div.navbar div.navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  gap: 15px;
  z-index: -2;
}

html body div.main-container div.body-container {
  min-height: 90vh;
  width: 100%;
  background-image: url(../img/bgr.jpg);
}

html body div.main-container div.body-container #loader-here {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 100%;
  height: 100%;
}

html body div.main-container div.body-container #loader-here.document-\.\/content\/isak\/places_to_visit\.html div.txt-container ol li div {
  -ms-grid-columns: 55% 1% auto;
      grid-template-columns: 55% 1% auto;
  /* text|padding|image */
}

html body div.main-container div.body-container #loader-here.document-\.\/content\/sanna\/religion\.html div.txt-container ul li div {
  -ms-grid-columns: 70% 5% auto;
      grid-template-columns: 70% 5% auto;
  /* text|padding|image */
}

html body div.main-container div.body-container #loader-here div.txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  margin: 40px auto 40px;
  background-color: white;
  padding: 25px;
  line-height: 2em;
  border-radius: 10px;
}

html body div.main-container div.body-container #loader-here div.txt-container span.arrow {
  font-size: 170%;
}

html body div.main-container div.body-container #loader-here div.txt-container span.special-link {
  text-decoration: underline;
}

html body div.main-container div.body-container #loader-here div.txt-container span.special-link:hover {
  color: blue;
}

html body div.main-container div.body-container #loader-here div.txt-container a, html body div.main-container div.body-container #loader-here div.txt-container a:link, html body div.main-container div.body-container #loader-here div.txt-container a:visited, html body div.main-container div.body-container #loader-here div.txt-container a:hover, html body div.main-container div.body-container #loader-here div.txt-container a:active {
  color: inherit;
}

html body div.main-container div.body-container #loader-here div.txt-container .ancher {
  padding-left: 1ch;
  text-decoration: none;
}

html body div.main-container div.body-container #loader-here div.txt-container p, html body div.main-container div.body-container #loader-here div.txt-container h1, html body div.main-container div.body-container #loader-here div.txt-container h2, html body div.main-container div.body-container #loader-here div.txt-container h3, html body div.main-container div.body-container #loader-here div.txt-container h4, html body div.main-container div.body-container #loader-here div.txt-container h5, html body div.main-container div.body-container #loader-here div.txt-container h6, html body div.main-container div.body-container #loader-here div.txt-container ol, html body div.main-container div.body-container #loader-here div.txt-container ul {
  padding-bottom: 20px;
}

html body div.main-container div.body-container #loader-here div.txt-container ol, html body div.main-container div.body-container #loader-here div.txt-container ul {
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

html body div.main-container div.body-container #loader-here div.txt-container ol li div, html body div.main-container div.body-container #loader-here div.txt-container ul li div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
}

html body div.main-container div.body-container #loader-here div.txt-container img, html body div.main-container div.body-container #loader-here div.txt-container iframe {
  width: 100%;
  max-width: 100%;
}

html body div.main-container div.bottom-container {
  width: 100vw;
  height: 40vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body div.main-container div.bottom-container p, html body div.main-container div.bottom-container a:link, html body div.main-container div.bottom-container a:visited, html body div.main-container div.bottom-container a:hover, html body div.main-container div.bottom-container a:active, html body div.main-container div.bottom-container h1, html body div.main-container div.bottom-container h2, html body div.main-container div.bottom-container h3, html body div.main-container div.bottom-container h4, html body div.main-container div.bottom-container h5, html body div.main-container div.bottom-container h6 {
  color: white;
}

html body div.main-container div.bottom-container p.easter-egg-1 {
  padding-top: 3rem;
  color: black;
}

html body img.easter-egg-1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  -webkit-animation: 3s ease-in-out fadein_easter_egg_1 forwards;
          animation: 3s ease-in-out fadein_easter_egg_1 forwards;
}

@-webkit-keyframes fadein_easter_egg_1 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadein_easter_egg_1 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

div.dropdown-block {
  height: 50%;
  /* Style ALL boxes (including header) */
}

div.dropdown-block:hover {
  /* ANIMATION BORDER RADIUS ON HOVER */
  /* ANIMATION BORDER RADIUS ON HOVER END */
  /* ANIMATION ON HOVER */
}

div.dropdown-block:hover div.dropdown-header, div.dropdown-block:hover div.dropdown-content > div {
  -webkit-transition: border-radius 0.2s ease-in-out, background-color 0.2s, -webkit-transform 0.2s ease-in-out;
  transition: border-radius 0.2s ease-in-out, background-color 0.2s, -webkit-transform 0.2s ease-in-out;
  transition: border-radius 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.2s;
  transition: border-radius 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.2s, -webkit-transform 0.2s ease-in-out;
}

div.dropdown-block:hover div.dropdown-header p, div.dropdown-block:hover div.dropdown-content > div p {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

div.dropdown-block:hover div.dropdown-header {
  border-radius: 15px 15px 0px 0px;
}

div.dropdown-block:hover div.dropdown-content div {
  border-radius: 0px;
}

div.dropdown-block:hover div.dropdown-content :last-child {
  border-radius: 0px 0px 15px 15px;
}

div.dropdown-block:hover div.dropdown-header {
  background-color: #ff6666;
}

div.dropdown-block:hover div.dropdown-header p {
  color: black;
}

div.dropdown-block:hover div.dropdown-content > div {
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
}

div.dropdown-block div.dropdown-header, div.dropdown-block div.dropdown-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-transition: border-radius 0.2s 0.2s ease-in-out, background-color 0.2s, -webkit-transform 0.2s 0.2s ease-in-out;
  transition: border-radius 0.2s 0.2s ease-in-out, background-color 0.2s, -webkit-transform 0.2s 0.2s ease-in-out;
  transition: border-radius 0.2s 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out, background-color 0.2s;
  transition: border-radius 0.2s 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out, background-color 0.2s, -webkit-transform 0.2s 0.2s ease-in-out;
}

div.dropdown-block div.dropdown-header p, div.dropdown-block div.dropdown-content > div p {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  -webkit-transition: -webkit-transform 0.1s !important;
  transition: -webkit-transform 0.1s !important;
  transition: transform 0.1s !important;
  transition: transform 0.1s, -webkit-transform 0.1s !important;
}

div.dropdown-block div.dropdown-header {
  height: 100%;
  z-index: 1;
  background-color: red;
}

div.dropdown-block div.dropdown-header p {
  color: white;
}

div.dropdown-block div.dropdown-content {
  z-index: -1;
  height: 100%;
  position: relative;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

div.dropdown-block div.dropdown-content > div {
  height: 100%;
  position: relative;
  -webkit-transform: translateY(calc( -100% * calc( var(--order) - 1 )));
          transform: translateY(calc( -100% * calc( var(--order) - 1 )));
  background-color: red;
}

div.dropdown-block div.dropdown-content > div:active p {
  -webkit-transform: scale(0.9, 0.9) !important;
          transform: scale(0.9, 0.9) !important;
}

div.dropdown-block div.dropdown-content > div p {
  color: white;
}

div.dropdown-block div.dropdown-content > div:hover {
  background-color: #ff6666;
}

div.dropdown-block div.dropdown-content > div:hover p {
  color: black;
}

div.dropdown-block div.dropdown-content > div:hover:active {
  background-color: #ff9999;
}

.lantern {
  position: relative;
  width: 200px;
  height: 200px;
}

@-webkit-keyframes face_grow {
  from {
    width: 200px;
    height: 200px;
  }
  to {
    width: 450vw;
    height: 450vh;
  }
}

@keyframes face_grow {
  from {
    width: 200px;
    height: 200px;
  }
  to {
    width: 450vw;
    height: 450vh;
  }
}

@-webkit-keyframes open_mouth {
  from {
    height: 10px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    height: 100px;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes open_mouth {
  from {
    height: 10px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    height: 100px;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes open_mouth_eyes {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes open_mouth_eyes {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes fade_out_face {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fade_out_face {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.loader {
  background-color: rgba(0, 0, 0, 0.507);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade_out_face 1s 4s normal forwards;
          animation: fade_out_face 1s 4s normal forwards;
}

.loader p {
  color: white;
}

.loader div.face svg {
  -webkit-animation: face_grow 2s 2s normal forwards;
          animation: face_grow 2s 2s normal forwards;
}

.loader div.face svg #mouth {
  position: relative;
  -webkit-animation: open_mouth 1s normal forwards;
          animation: open_mouth 1s normal forwards;
}

.loader div.face svg #left-eye, .loader div.face svg #right-eye {
  position: relative;
  -webkit-animation: open_mouth_eyes 1s normal forwards;
          animation: open_mouth_eyes 1s normal forwards;
}
/*# sourceMappingURL=style.css.map */